*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    .logo{
        width: 100%;
        height:100%;
        padding-top: 7px;
        padding-left: 15px;
        background-color: #00000075;
        button{
            background-color: #00000000;
            border-width: inherit;
            h1{
                color: white;
                text-decoration: none;
                font-style: italic;
                font-size: 43;
            }
        }
        button:hover{
            cursor: pointer;
            font-size: 15px;
        }
        
    }
}