<div class="container"> 
    <app-header></app-header>
    <button mat-icon-button 
            *ngIf="sidenav.mode === 'over'" 
            (click)="sidenav.toggle()"
            class="menu-icon">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav">
            <h2>Hot Beverage</h2>
            <hr>
            <div class="dish-container">
                <button class="dish" *ngFor="let dish of hotBeverage;">
                    <h3>{{dish.dishName}}</h3>
                </button>
            </div>

            <br/>

            <h2>Cold Beverage</h2>
            <hr>
            <div class="dish-container">
                <button class="dish" *ngFor="let dish of coldBeverage;">
                    <h3>{{dish.dishName}}</h3>
                </button>
            </div>

            <br/>

            <h2>Appetizers</h2>
            <hr>
            <div class="dish-container">
                <button class="dish" *ngFor="let dish of appetizer;">
                    <h3>{{dish.dishName}}</h3>
                </button>
            </div>

            <br/>

            <h2>Entree</h2>
            <hr>
            <div class="dish-container">
                <button class="dish" *ngFor="let dish of entree;">
                    <h3>{{dish.dishName}}</h3>
                </button>
            </div>

            <br/>

            <h2>Dessert</h2>
            <hr>
            <div class="dish-container">
                <button class="dish" *ngFor="let dish of dessert;">
                    <h3>{{dish.dishName}}</h3>
                </button>
            </div>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="content" mat-elevation-z4>
                main content
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
